# Functions

In [1]:
def add(val1,val2):
    return (val1+val2)

In [2]:
add(3,4)

7

In [13]:
a=[1,2,3,]
def append(val):
    val.append(4)

In [14]:
append(a)
print (a)

[1, 2, 3, 4]

# classes

In [17]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [73]:
class cat:
    def __init__(self):
        print("init")
    def speak(self):
        print("obj")
obj1.speak()

obj

In [51]:
class car:
    def __init__(self,brand,price,year,location):
        self.brand=brand
        self.price=price
        self.year=year
        self.location=location
    def display(self):
        print("brand:",self.brand)
        print('price:',self.price)
        print('year:',self.year)
        print('Location:',self.location)
objc1=car('chevy','23000','2019','chi')
objc1.display()

brand: chevy
price: 23000
year: 2019
Location: chi

In [58]:
class book:
    def __init__(self,name,author,price):
        self.name=name
        self.author=author
        self.price=price
    def info(self):
        print('name-',self.name)
        print('author-',self.author)
        print('price-',self.price)

objb1=book('think and grow rich','not sure','1000')
objb1.info()

name- think and grow rich
author- not sure
price- 1000

In [71]:
class School:
    def __init__(self,sub,marks,grade):
        self.sub=sub
        self.marks=marks
        self.grade=grade
    def ravi(self):
        print('subject-',self.sub)
        print('his marks are-',self.marks)
        print('grade he got is-',self.grade)
        print('-----------------------')
s1=School('eng','99','a')
s2=School('mat','80','b')

s1.ravi()
s2.ravi()

subject- eng
his marks are- 99
grade he got is- a
-----------------------
subject- mat
his marks are- 80
grade he got is- b
-----------------------